@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navLi {
    @apply text-white;
  }
  .active {
    @apply bg-[#1b3b66] overflow-visible relative rounded scale-105 transition-all duration-200;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;  
}

ul, ol {
  list-style-type: none;
}