.heroes {
  position: relative;
  transition: 0.3s ease-in-out;
}

.heroes .name {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.5rem;
  font-weight: bold;
  transition: opacity 0.3s;
  text-align: center;
  line-height: 1.6rem;
  margin-bottom: 0.4rem;
}

.heroes:hover .name {
  opacity: 1;
  z-index: 1;
}

.heroes:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(7, 7, 7, 0.582)
  );
  transition: opacity 0.3s;
  opacity: 1;
}
.heroes:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
